<!DOCTYPE html>
<html lang="en">

<head>
    <div class="header">
        <h1>My Store</h1>
    </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- body %>
        <h3>all copy rights reserved</h3>
</body>

</html>